{% extends "base.html" %} 

{% block titulo %} Detalles {{ cancion.nombre }} {% endblock %}

{% block contenido_principal %}
	 <div class="row">
		<div class="media col-xs-10">
		  <div class="media-left media-middle">
			<img class="media-object" src="/portadas/{{ cancion._id.toString() }}.png" >
		  </div>
		  <div class="media-body">
			 <h2>{{ cancion.nombre }}</h2>
			 <p>{{ cancion.autor }}</p>
			 <p>{{ cancion.genero }}</p>
			  <a class="btn btn-primary pull-right"
				 href="/cancion/comprar/{{cancion._id.toString()}}">{{ cancion.precio }} €</a>
			 <!-- Cambiar el precio por "reproducir" si ya está comprada -->
		  </div>
		</div>
	  </div>
	  
	 <!-- Comentarios -->
	 <div class="row" style="margin-top: 20px;" >
		 {% for comentario in comentarios %}
			 <div class="media col-xs-10">
				  <div class="media-left media-middle">
					<a href="#">
					  <img class="media-object" src="/img/user.png" >
					</a>
				  </div>
				  <div class="media-body">
					<h4 class="media-heading">{{ comentario.autor }}</h4>
					  {{ comentario.texto }}
				  </div>
				 <form class="form-horizontal" method="post" action="/comentario/borrar/{{ comentario._id.toString() }}" encType="multipart/form-data">
					 <div class="form-group">
						<label class="control-label col-sm-2" for="autor"></label>
						 <div class="col-sm-10"> <input type="hidden" value="{{ comentario.autor }}" class="form-control"
														name="autor" required="true" />
						 </div>
					 </div>
					 <div class="form-group">
						 <div class="col-sm-offset-2 col-sm-10">
							 <button type="submit" class="btn btn-primary">Eliminar</button>
						 </div>
					 </div>
				 </form>
<!--				 <a href="/comentario/borrar/{{ comentario._id.toString() }}">Eliminar</a> <br>-->
			 </div>
		 {% endfor %}
	  </div>

	<form class="form-horizontal" method="post" action="/comentarios/{{ cancion._id.toString() }}" encType="multipart/form-data">
		<div class="form-group">
			<label class="control-label col-sm-2" for="texto">Nuevo comentario:</label>
			<div class="col-sm-10"> <input type="text" class="form-control" name="texto"
										   required="true" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary">Publicar</button>
			</div>
		</div>
	</form>
{% endblock %}